/* App  */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Navbar  */
.navbar {
  display: flex;
  justify-content: flex-end; /* Align elements to the far right */
  align-items: center; /* Center items vertically */
  background-color: #f1f1f1;
  padding: 10px;
}

.nav-links {
  display: flex; /* Display the navLink elements horizontally */
  gap: 15px; /* Add some spacing between the elements */
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.nav-links a:hover {
  background-color: #ddd;
}

.small-button {
  font-size: 12px; /* Adjust the font size to make the button smaller */
  padding: 6px 10px; /* Adjust the padding to make the button smaller */
}


/* Home  */